<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="brimar_shipping" id="brimar_shipping">
			<module before="Magento_Backend" name="Brimar_Shipping"/>
		</route>
	</router>
</config>
