<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="brimar" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Brimar Shipping</label>
                
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <comment>This is the main title shown in checkout</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Displayed Error Message</label>
                    <comment>Message shown when shipping method is not available</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                
                <field id="sallowspecific" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                    <depends>
                        <field id="sallowspecific">1</field>
                    </depends>
                </field>
                
                <field id="showmethod" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Method if Not Applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                
                <field id="sort_order" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <comment>Controls the order this shipping method appears in the list</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="instructions" translate="label" type="note" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipping Options Management</label>
                    <comment><![CDATA[
                        <strong>How to manage shipping options:</strong><br/>
                            Go to <strong>Sales → Brimar Shipping Options</strong> to Add/Edit and Delete shipping options<br/>

                    ]]></comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                
            </group>
        </section>
    </system>
</config>