<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Brimar\Shipping\Api\BrimarShippingOptionsRepositoryInterface" type="Brimar\Shipping\Model\BrimarShippingOptionsRepository"/>
	<preference for="Brimar\Shipping\Api\Data\BrimarShippingOptionsInterface" type="Brimar\Shipping\Model\BrimarShippingOptions"/>
	<preference for="Brimar\Shipping\Api\Data\BrimarShippingOptionsSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Brimar\Shipping\Model\ResourceModel\BrimarShippingOptions\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">brimar_shipping_brimar_shipping_options</argument>
			<argument name="resourceModel" xsi:type="string">Brimar\Shipping\Model\ResourceModel\BrimarShippingOptions\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="brimar_shipping_options_listing_data_source" xsi:type="string">Brimar\Shipping\Model\ResourceModel\BrimarShippingOptions\Grid\Collection</item>
			</argument>
		</arguments>
	</type>

	   <!-- Plugin for shipping method management -->
    <type name="Magento\Quote\Model\ShippingMethodManagement">
        <plugin name="brimar_shipping_method_management" type="Brimar\Shipping\Plugin\Quote\Model\ShippingMethodManagement"/>
    </type>
</config>
